body {
    font-family: $font-family-sans-serif
}

// .homepage-image {
//     @include media-breakpoint-up(lg) {
//         position: absolute;
//         width: 400px;
//         right: 100px;
//         top: 0;
//     }
// }

.author .name a, .author .social a {
    color: $gray-900;
    text-decoration: none;
}

blockquote {
    color: $gray-400;
    border-left: 6px solid $gray-400;
    padding-left: $spacer;
}

code {
    background-color: $gray-100;
    border-radius: $border-radius-sm;
    padding: .125rem .2rem;
}

code[class*=language-], pre[class*=language-] {
    font-family: $font-family-monospace;
    @include font-size($code-font-size);
}

figure.highlight pre:not([class*=language-]) {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    background-color: $gray-100;
}

pre code {
    padding: 0;
    background-color: transparent;
}

.latest h2 a, .navbar a, .card > a, a.badge {
    text-decoration: none;
}

figure.highlight {
    margin-left: -($grid-gutter-width / 2);
    margin-right: -($grid-gutter-width / 2);

    @include media-breakpoint-up(md) {
        margin-left: 0;
        margin-right: 0;
    }
}

img[data-src] {
    opacity: 0;
    @include transition($transition-fade);

    &.loaded {
        opacity: 1;
    }
}

#navbar-main-menu {
    transition: top 0.2s ease;

    .nav-item .nav-link {
        font-size: $navbar-brand-font-size;
    }
}

ul.share.nav {
    .nav-link {
        padding: $nav-link-padding-y 0.2rem;
        text-align: center;
    }
}

footer a:not(.icons) {
    color: $gray-200;
}

// Sponsors

.patrocinadores {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.sponsor {
  margin-right: 2px;
}

.sponsor-Partner {
  max-height: 100px;
  width: 100px;
}

.sponsor-MediaPartner {
  max-height: 55px;
  width: 55px;
}

.sponsor-Diamond {
  max-height: 350px;
  width: 350px;
}

.sponsor-Platinum {
  max-height: 250px;
  width: 250px;
}

.sponsor-Gold {
  max-height: 120px;
  width: 120px;
}

.sponsor-Silver {
  max-height: 100px;
  width: 100px;
}

.sponsor-Bronze {
  max-height: 80px;
  width: 80px;
}

.sponsor-Supporter {
  max-height: 40px;
  width: 40px;
}

body {
  font-family: "Open Sans", sans-serif !important;
}

.homepage {
  color: black;
}

.navbar-brand {
  font-size: 1.2rem;
}

.nav-item:nth-last-child(-n + 2) .dropdown-menu {
  right: 0;
  left: auto;
}

.homepage-image img {
  width: 100%;
}
/* .homepage-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
} */

.main-header {
  background: url("/images/people.webp") center / cover no-repeat;
}

.main-header h4 {
  color: white;
}

.main-header button {
  color: black;
  font-size: 1.2rem;
  /* border-radius: 2rem; */
}

/* .main-title {
  position: relative;
  top: 0;
  left: 0;
} */

/* .main-title img {
  width: 75%;
} */

#learn-more-btn {
  width: 20rem;
  border: 2px solid #ed7e22;
}

section.buenos-aires {
  background: url("/images/puente_fondo_normal.webp") center / cover no-repeat;
}
section.buenos-aires * {
  color: white;
  /* font-weight: bold; */
}

section.buenos-aires .btn {
  color: black;
  font-weight: normal;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.bg-orange {
  background: #ed7e22;
}
.bg-yellow {
  background: #aac938;
}
.bg-violet {
  background: #6a4da0;
}
.bg-lightblue {
  background: #40bbc7;
}

footer.footer {
  color: white;
  background-color: white !important;
  background: url("/images/circulos.png") center no-repeat;
}

.obscured {
  position: relative;
}
.obscured::before {
  position: absolute; /* maximize the pseudo-element */
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* use background-image here */
  content: " "; /* it needs actual content, an empty space is enough */
}

/* hero area */
.hero-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-area .counter .dash {
  display: flex;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border: 2px solid #ed7e22;
}

.hero-area .counter ul {
  padding: 0;
}

.hero-area .counter ul li {
  line-height: 1 !important;

  display: inline-block;
  text-align: center;
  text-transform: lowercase;
}

.hero-area .counter ul li span {
  display: inline-block;
  font-size: 2.5rem;
  padding-left: 0.3rem;
}

.hero-area .counter ul li .digit {
  display: inline-block;
  position: relative;
  height: 2.5rem;
  overflow: hidden;
  font-size: 2.5rem;
}

@media only screen and (max-width: 400px) {
  .hero-area .counter ul li * {
    font-size: 1.5rem !important;
  }
}

.pricing span,
.pricing div {
  display: block;
}

.pricing .btn {
  text-decoration: none;
}

.pricing .body {
  display: none;
}

@media only screen and (min-width: 400px) {
  .pricing .title {
    min-height: 5rem;
  }
}

/* ===================================
   SPEAKER
   =================================== */
.speakers-list {
  list-style: none;
}
.speakers-item {
  position: relative;
  min-height: 180px;
  padding-left: 180px;
  margin-bottom: 30px;
  border-bottom: 1px dashed #e7e7e7;
}
.speaker-photo {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 120px;
  height: 120px;
}
.speakers-item .photo {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-image: url(http://lorempixel.com/g/400/200/);
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.speech-title {
  padding-top: 10px;
  font-size: 2em;
  margin-bottom: 1em;
}
.speech-time {
  font-size: 18px;
  padding: 10px 15px;
  letter-spacing: -0.03em;
}

/* *{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
} */

:root{
	--twitter: #55acee;
	--youtube: #bd081c;
}

/* .redes-container{
	display: flex;
	height: 100vh;
} */

.redes-container ul li{
	display: inline-block;
	margin: 0 5px;
	width: 50px;
	height: 50px;
	text-align: center;
}

.redes-container ul li a{
	display: block;
	padding: 0 10px;
	background: #333;
	color: #fff;
	line-height: 50px;
	font-size: 25px;
	box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2);
	transition: 2s;
}

.redes-container ul:hover a{
	filter: blur(2px);
}

.redes-container ul li a:hover{
	transform: translateY(-3px) scale(1.05);
	box-shadow:0 5px 5px 0px rgba(0 ,0 ,0 , .4);
	filter:none;
}

.redes-container ul li .twitter:hover{
	background: var(--twitter);
}

.redes-container ul li .youtube:hover{
	background: var(--youtube);
}

/** Keynoters **/

.keynoter {
  float:left;
  padding-right:5%;
  padding-bottom:5%;
}

.keynote-background {
  width:20vw;
  height:20vw;
  background-repeat:no-repeat;
  background-size:cover;
  position:absolute;
}

.keynoter-name {
  color:white;
  text-decoration:none;
  text-shadow: 1px 1px 2px black; 
}

.keynoter-description {
  text-shadow: 2px 2px 3px white; 
  position:absolute; 
  margin:auto;
  padding:5%;
}

.hover-content {
  display:none;
}

.keynoter:hover .keynote-background {
  filter:grayscale(70%);
  opacity: 0.4;
}
 
.hover-me:hover .hover-content {
  display:block;
}
