<footer class="footer text-center bg-dark py-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="list-inline">
										{{- if .Site.Params.social.subscribe -}}
										<li class="list-inline-item">
												<a href="{{ .Site.Params.social.subscribe }}" class="icons d-block">
														<span class="fa-stack fa-lg">
																<i class="icon-circle fa-stack-2x"></i>
																<i class="icon-bell-alt fa-stack-1x fa-inverse"></i>
														</span>
												</a>
										</li>
										{{- end -}}
                    {{ if .Site.Params.social.rss -}}
                    <li class="list-inline-item">
                        {{- with .Site.GetPage "" -}}
                            {{- with .OutputFormats.Get "RSS" -}}
                                <a href="{{ .Permalink }}" rel="alternate" type="application/rss+xml" class="icons d-block">
                                    <span class="fa-stack fa-lg">
                                        <i class="icon-circle fa-stack-2x"></i>
                                        <i class="icon-rss fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            {{- end -}}
                        {{- end -}}
                    </li>
                    {{- end -}}
                    {{- if .Site.Params.social.email -}}
                    <li class="list-inline-item">
                        <a href="mailto:{{ .Site.Params.social.email }}" class="icons d-block">
                            <span class="fa-stack fa-lg">
                                <i class="icon-circle fa-stack-2x"></i>
                                <i class="icon-mail fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {{- end -}}
                    {{- range $name, $path := .Site.Params.social -}}
                        {{- if and $path (not (in (slice "rss" "email" "subscribe") $name)) -}}
                        <li class="list-inline-item">
                            <a href="{{ $path | safeURL }}" class="icons d-block">
                                <span class="fa-stack fa-lg">
                                    <i class="icon-circle fa-stack-2x"></i>
                                    <i class="icon-{{ $name }} fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        {{- end -}}
                    {{- end }}
                </ul>
            </div>
        </div>
    </div>
</footer>
