---
layout: default
title: About
permalink: /about/
image: about.jpg
links:
  - {permalink: "/about/", text: "About FOSS4G"}
  - {link: "https://www.osgeo.org/about/", text: "About OSGEO"}
  - {permalink: "/about/team/", text: "Committees"}
  - {permalink: "/about/branding/", text: "Branding"}
  - {permalink: "/about/faq/", text: "FAQ"}
  - {permalink: "/code-of-conduct/", text: "Code of Conduct"}
---

{% include top-section.html %}

<section id="about" class="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            {% capture content %}{% include_relative _content/about.md %}{% endcapture %}
            {{ content | markdownify }}
        </div>
    </div>
</section>
