---
layout: default
title: Register
permalink: /register/
image: register.jpg
links:
  - {permalink: "/register/", text: "Registration"}
  - {permalink: "/register/travel-grant/", text: "Travel grant"}
  - { permalink: "/register/studentship-grant", text: "Studentship grant" }
  - {permalink: "/register/visa-info/", text: "Visa info"}
  - { permalink: "/register/volunteers/", text: "Volunteers" }
---

{% include top-section.html %}

<div class="container">
    {% capture content %}{% include_relative _content/register.md %}{% endcapture %}
    {{ content | markdownify }}
</div>
