---
layout: default
title: Event schedule
permalink: /schedule/
image: schedule.jpg
links:
 - {permalink: "/agenda/workshop_schedule", text: "Workshop schedule"}
 - {permalink: "/b2b_meeting/", text: "B2B event"}
 - {permalink: "/geochicas_and_spacesyntaks/", text: "Geochicas and SpaceSyntaKs"}
 - {permalink: "/social_events", text: "Social events"}
 - {permalink: "/community_sprint", text: "Community Sprint"}
---

{% include top-section.html %}

<div class="container">
    <img src="{% link img/schedule-table.png %}" alt="Schedule" style="max-width: 100%; height: auto;">
</div>

{% include schedule.html %}
