---
layout: default
title: Register
permalink: /register/
image: register.jpg
links:
  - {permalink: "/register/", text: "Registration"}
  - {permalink: "/travel-grant/", text: "Travel grant"}
  - {permalink: "/visa-info/", text: "Visa info"}
---

{% include top-section.html %}

{% include tickets-2.html %}

<section id="register" class="register">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            {% capture content %}{% include content/register.md %}{% endcapture %}
            {{ content | markdownify }}
        </div>
    </div>
</section>