<!-- About Section -->
<section id="about" class="about">
    <div class="container">
        <h3>About FOSS4G</h3>
        <p>
            Organized by <a target="_blank" href="https://www.osgeo.org/">OSGeo</a> and with more than 15 years of experience, this international annual gathering of location enthusiasts is the largest global gathering for geospatial software.<br>
            FOSS4G brings together developers, users, decision-makers and observers from a broad spectrum of organizations and fields of operation. Through six days of workshops, presentations, discussions, and cooperation, FOSS4G participants create effective and relevant geospatial products, standards, and protocols.
        </p>
        <div>
            <a href="{% link _pages/about.md %}" class="btn btn-primary waves-effect waves-button waves-light waves-float">More</a>
        </div>
<br><br><br><br>
        <div class="content-wrapper">
                <div class="col-md-3 col-xs-6">
                    <h4>Register</h4>
                    <p>The registration fee includes access to 3 conference days (plenary session, conference tracks, meal, coffee breaks), Ice breaker event, Gala Dinner, and Community Sprint. Get your tickets here:  </p>
                    <p><a href="/register" class="btn btn-info waves-effect waves-light waves-float">More info</a></p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <h4>Program</h4>
                    <p>With 6 days of workshops, talks, keynote speakers, and other events, FOSS4G participants will have the opportunity to network with industry experts and like-minded enthusiasts
                    </p>
                    <p><a href="/schedule" class="btn btn-info waves-effect waves-light waves-float">More info</a></p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <h4>Social Events</h4>
                    <p>FOSS4G is organizing plenty of social events, from a Welcome Party to a Gala Dinner, as well as a Pub Race, GeoChicasOSM, and B2B meetings.
                    </p>
                    <p><a href="/social_events/" class="btn btn-info waves-effect waves-light waves-float">More info</a></p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <h4>Accommodation</h4>
                    <p>The organizers of FOSS4G 2023 are pleased to announce that attendees will be offered accommodation at Innovation & Training Park (ITP) Prizren, a cheap and comfortable option for all attendees.
                    </p>
                    <p><a href="/attending/accomodation/" class="btn btn-info waves-effect  waves-light waves-float">More info</a>
                    </p>
                </div>
        </div>
    </div>
</section>
<!-- End About Section -->
