<!-- About Section -->
<section id="about" class="about">
    <div class="container">
        <h3>About FOSS4G</h3>
        <p>
            Organized by <a target="_blank" href="https://www.osgeo.org/">OSGeo</a> and with more than 15 years of experience, this international annual gathering of location enthusiasts is the largest global gathering for geospatial software.<br>
            FOSS4G brings together developers, users, decision-makers and observers from a broad spectrum of organizations and fields of operation. Through six days of workshops, presentations, discussions, and cooperation, FOSS4G participants create effective and relevant geospatial products, standards, and protocols.
        </p>
        <div class="text-center">
            <a href="{% link _pages/about.md %}" class="btn btn-primary waves-effect waves-button waves-light waves-float">More</a>
        </div>
    </div>
</section>
<!-- End About Section -->
