<!-- Call for Sponsors Section -->
<section id="call-for-sponsors" class="partners">
  <div class="content-wrapper">
      <div class="col-lg-10 col-lg-offset-1">
          <h3>Call for Sponsors</h3>
          <div>
            <p>The Local Organizing Committee have the pleasure to invite you to participate in and contribute to FOSS4G 2023 which will be held on 26th of June to the 1st of July 2022, at Prizren, Kosovo.</p>
            <p>Sponsors are the backbone of the FOSS4G Conference. With their valuable support, we, the Local Organizing Committee, are able to set up this major event that the entire geospatial community is awaiting.</p>
            <p>Delivering a successful and inclusive FOSS4G is dependent upon support from OSGeo businesses and partners. Your organisation will receive exposure with key decision makers in the open source geo community of businesses and users.</p>
            <p>We offer potential sponsors many different ways of supporting the event.</p>
            <p>For any questions you can write to <a href="mailto:sponsors@foss4g.org">sponsors@foss4g.org</a></p>
          </div>
          <h4>Additional sponsorship opportunities</h4>
          <div>
            <h5>Catering sponsor conference</h5>
            <p>If you are not a software company but still want to contribute to free software and increase your brand's visibility within this community, catering sponsorship is the solution for you. Your products will be present during the conference.</p>
            <p>There are only 6 spots available for catering companies, covering the main events of the conference, the Welcome Party and the Gala dinner.</p>
            <div>
              <strong>Catering Sponsor conference -  € 2,000</strong>
              <ul>
                <li>mentioned as partner on the conference website and on printed materials</li>
                <li>2 banners during one evening (Ice-breaker or gala dinner) of the event</li>
              </ul>
            </div>
            <h5>Additional Options</h5>
            <ul>
              <li>
                <strong>Exhibition Table - € 1,000 - a standing table and space for 1</strong><br>
                Banner in the hall. A conference pass is not included in the price.
              </li>
              <li>
                <strong>Exhibition Stand - € 2,500 - an exhibition space in the hall 3x2</strong><br>
                Banner in the hall. A conference pass is not included in the price.
              </li>
            </ul>
            <h5>Diversity and Participation Grant</h5>
            <p>As in recent years, we will continue to reach out to groups who would otherwise be less likely to attend our conference, in an effort to increase diversity among our attendees. We have travel grants earmarked for diversity, as we find this benefits both the conference and the open-source geo community as a whole.</p>
          </div>
      </div>
  </div>
</section>
<!-- End Call for Sponsors Section -->
