<!-- Begin Partners Section -->
<section id="partners" class="partners">
    <div class="container">
        {% for partner in site.data.partners %}
        <h3>{{ partner.group }}</h3>
        <ul class="list-inline">
            {% for element in partner.elements %}
            <li>
                <a href="{{ element.link }}" target="_blank">
                    <img src="{{ site.baseurl }}/img/partners/{{ element.imageUrl }}" title="{{ element.description }}" alt="{{ element.name }}" height="{{ partner.height }}">
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}

        <!-- <div class="text-center">
            <a href="{% link _pages/sponsors/call-for-sponsors.md %}" class="btn btn-primary waves-effect waves-button waves-light waves-float">Become a sponsor</a>
        </div> -->
    </div>
</section>
<!-- End Partners Section -->
