<!-- Begin Rockstar Speakers Section -->
<section id="rockstar-speakers" class="rockstar-speakers" style="background-image: url({{ site.baseurl }}/img/sections-background/.jpg);">
	<div class=""></div>
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1 rockstar-speakers-list text-center">
			<h3 id="rockstar-speaker-title">Keynote speakers</h3>
			<div class="clearfix"></div>
			<span class="bordered">
				<a href="{{ site.baseurl }}/keynotes/" class="bottom-section-link waves-effect btn-primary waves-button waves-light"><h6>More on keynote schedule</h6></a>
			</span>
		</div>
	</div>
</section>
<!-- End Rockstar Speakers Section -->