<!-- Begin Latest News Section -->
<section id="latest-news" class="blog">
    <div class="container">
        <h3>Side events</h3>
        <div class="col-lg-8 col-md-10 col-xs-12">
            {% for post in site.sideevents %}
        <article class="row post"> 
            <a href="{{ site.baseurl | append: post.url }}" title="{{ post.title }}"><h4>{{ post.title }}</h4></a>

            <!-- {% assign postUrl = site.baseurl | append: post.url %}
            <div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="500">
                <h6>{{ post.title }}</h6>
                <p class="post-body">
                    {{ post.content | strip_html | truncate: 250 }}
                    <a href="{{ postUrl }}">continue reading</a>
                </p>
            </div>   -->
            <p class="post-body">{{ post.content | strip_html | truncate: 350 }} <a href="{{ site.baseurl | append: post.url }}">continue reading</a></p>
        </article>
        {% endfor %}
    </div>
    </div>
</section>
<!-- End Latest News Section -->