<!-- Begin Tickets Section -->
<section id="tickets" class="tickets">
    <div class="container">
        <h3>Registration fees</h3>
        <div style="margin-top: 50px;">
            {% for ticketsOffer in site.data.tickets %}
            {% assign colWidth = 12 | divided_by: forloop.length %}
            {% assign check = forloop.index | modulo:2 %}
            <div class="col-md-{{ colWidth }} col-sm-{{ colWidth }} pricing-col {% if ticketsOffer.featured != null %}pricing-col-featured{% endif %} animated hiding"
                data-animation="{% if forloop.index == 1 %}fadeInLeft{% elsif forloop.index == forloop.length %}fadeInRight{% else %}fadeInDown{% endif %}"
                data-delay="{% if check == 0 %}0{% else %}500{% endif %}">
                {% if ticketsOffer.ribbon != null %}<div class="pricing-ribbon">{{ ticketsOffer.ribbon }}</div>{% endif %}
                <div class="pricing-header">
                    <p class="title">{{ ticketsOffer.name }}</p>
                    <p class="price">
                        {{ ticketsOffer.price }}
                        <span class="currency">{{ ticketsOffer.priceCurrency }}</span>
                    </p>
                </div>
                <div class="pricing-content">
                    <ul>
                        {% for listItem in ticketsOffer.ticketContentList %}
                        <li>{{ listItem | newline_to_br }}</li>
                        {% endfor %}
                    </ul>
                    {% if ticketsOffer.soldOut == true %}
                    <span class="button disabled" style="background-color: #0049ff;">{{ ticketsOffer.soldOutText }}</span>
                    {% elsif ticketsOffer.disabled != true %}
                    <a class="button" href="{% link _pages/register.html %}">Buy now</a>
                    {% else %}
                    {% assign ticketValidFrom = ticketsOffer.validFrom | split: "T" %}
                    <span class="button disabled fallback">
                        Ticket sales will begin on {{ ticketValidFrom[0] | date: "%-d %B %Y"}}
                        {{ ticketValidFrom[1] }}
                    </span>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <p>
                * Regional ticket is for people who live in Kosovo, Albania, North Macedonia, Serbia, Bosnia and
                Hertzegovina, and Montenegro, it requires a Passport or ID for the registration.
            </p>
        </div>
    </div>
</section>
<!-- End Tickets Section -->