<!-- Tourism Section -->
<section id="tourism">
    <div class="container">
        <h3>Tourism</h3>
        <p>
            As the region is the most affordable part of Europe with amazing beaches and mountains, we highly
            encourage participants to visit and do some tourism before or following the conference. Kosovo is
            surrounded by steep mountains and is easily accessible in many ways while being one of the most
            affordable European holiday locations. Hiking routes like the Via Dinarica and Peaks of the Balkans
            bring a lot of visitors to Kosovo who spend their time exploring these previously untapped
            possibilities.
        </p>
        <p>
            More than 50% of Kosovo’s territory is covered by forests and mountains, thus offering amazing
            hiking trails. Since Kosovo is quite a small country, one might easily have access to these spots.
            Visitors can enjoy hiking in Kosovo over the jagged Sharri, Pashtrik, and the Accursed Mountains,
            appreciate the well-preserved Ottoman architecture of Prizren, sample raki or homemade wine around
            Rahovec, visit a traditional stone kulla in Junik or Drenoc, dive into the coffee-drinking culture
            in one of Prishtina’s many wonderful cafés, or explore Islam, Catholic, and Orthodox Christianity at
            beautiful monasteries and mosques (sometimes found side by side) around Kosovo.
        </p>
        <p>
            As a place full of lively cafés and wide-ranging restaurants, a thriving outdoor adventure scene,
            the warmest locals you can imagine, and some of the cheapest prices across a vast region, Kosovo and
            its neighboring countries deserve the attention not only of the intrepid but of anyone looking to
            avoid the regular tourist traps.
        </p>
        <p>
            Across the border from Prizren, one of Albania’s best, Valbona National Park is available. From
            there, you may choose to take the ferry on the Drini river canyon or hike to Theth National Park,
            which is another Albanian treasure. From the Koman ferry landing or Theth, you can reach the city of
            Shkodra on the Shkodra Lake and the beaches of Northern Albania and southern Montenegro on the
            Adriatic coastline.
        </p>
    </div>
</section>
<!-- End Tourism Section -->