<section id="videos" style="padding-bottom: 0;">
    <div class="container">

        <h3>FOSS4G 2023 Videos</h3>

        <head>
            <style>
              .center {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50vh;
              }
            </style>
          </head>
         <html> 
            <div class="center">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/UWK7PfyUQQw" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6 col-sm-6 animated hiding" data-animation="fadeInDown" data-delay="500">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/zd7uyJVxFw4" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6 col-sm-6 animated hiding" data-animation="fadeInDown" data-delay="500">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Z6NcEjaIAM8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="col-md-6 col-sm-6 animated hiding" data-animation="fadeInDown" data-delay="500">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/YQvmMYj8pJo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="col-md-6 col-sm-6 animated hiding" data-animation="fadeInDown" data-delay="500">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/_d2dahbwiOo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

  
    </div>
</section> 