$nav-color: #fff;
$nav-color-hover: #cfcfcf;
$nav-scroll-color: rgba(0, 0, 0, 0.5);
$nav-scroll-color-hover: rgba(0, 0, 0, 0.8);

.top-header {
  position: fixed;
  z-index: 500;
  width: 100%;
  padding: 0 45px 35px 45px;
  @media (min-width: 768px) and (max-width: 991px) {
    padding: 13px 0 40px 34px;
  }
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.15);
  .overlay {
    opacity: 1;
    transition: $base-transition;
  }
}
.logo-header {
  display: block;
  transform: translateY(20px);
  transition: $base-transition;
  padding-left: 30px;
  transform: translateY(1px);
  @media (max-width: 767px) {
    transform: translateX(-45px);
  }
  .logo {
    float: left;
    height: 60px;
    margin-right: 20px;
    vertical-align: middle;
  }
}
.logo-navbar {
  width: 185px;
  height: 60px;
  margin: 8px 20px 0 -10px;
  transform: scale(0.6);
  vertical-align: middle;
}
nav {
  @media (max-width: 767px) {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    visibility: visible;
    overflow: auto;
    width: 256px;
    height: 100%;
    transition: $long-transition;
    background: #fff;
    transform: translateX(-100%);
  }
  .st-menu-open & {
    transform: translate(0);
  }
  ul {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    transform: translateY(40px);
    transition: $base-transition;
    @media (max-width: 767px) {
      line-height: 20px;
      width: 95%;
      margin: 20px 0 0 5px;
      transform: translateY(0);
    }
    .top-header & {
      transform: translateY(20px);
      @media (max-width: 767px) {
        transform: translateY(0);
      }
    }
  }
  li {
    display: inline-block;
    padding: 0 8px;
    vertical-align: middle;
    @media (max-width: 767px) {
      display: block;
    }
    a {
      font-size: $base-font-size;
      font-weight: $bold;
      transition: $base-transition;
      text-transform: uppercase;
      color: $nav-scroll-color;
      @media (min-width: 768px) and (max-width: 991px) {
        text-transform: none;
      }
      @media (max-width: 767px) {
        font-size: 16px;
        display: block;
        padding: 13px 15px 13px 15px;
        transition: $base-transition;
        text-transform: none;
        color: rgba(0, 0, 0, 0.3);
        outline: 0;
      }
      &.current,
      &:hover {
        text-decoration: none;
        color: $nav-scroll-color-hover;
        @media (max-width: 767px) {
          color: $main-color;
        }
      }
      .top-header & {
        color: $nav-scroll-color;
        @media (max-width: 767px) {
          top: 20px;
        }
        &.current,
        &:hover {
          color: $nav-scroll-color-hover;
          @media (max-width: 767px) {
            color: $main-color;
          }
        }
      }
    }
    // ul {
    //   display: block;
    //   left: 0;
    //   margin-top: 10px;
    //   opacity: 0;
    //   li {
    //     display: block;
    //     clear: both;
    //     width: 100%;
    //     ul li {
    //       display: block;
    //     }
    //   }
    // }

    // :hover > ul,
    // :focus-within > ul,
    // :hover,
    // :focus {
    //   display: block;
    //   opacity: 1;
    //   visibility: visible;
    //   a {
    //     color: blue;
    //   }
    // }
  }
}
.menu-dropdown {
  display: none;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  background: white;
  border-radius: 10px;
  z-index: 999;
  padding: 15px 10px;
  a {
    display: block;
    min-width: 10rem;
    padding: 2px;
    white-space: nowrap;
  }
  @media (max-width: 767px) {
    margin-top: 0;
    opacity: 1;
    position: relative;
    padding-top: 0;
  }
}
.navbar-menu li:hover .menu-dropdown {
  display: block;
  opacity: 1;
}
.right-nav-button {
  margin: 11px 11px 0 0;
  transition: $base-transition;
  opacity: 1;
  display: block;
  &:nth-of-type(1) {
    margin-right: 65px;
  }
  a {
    font-size: $base-font-size * 90 / 100;
  }
  &.right-nav-button-hidden {
    opacity: 0;
    transform: translateY(-50px);
  }
}
.icon-menu {
  width: 20px;
  height: 20px;
  fill: #464646;
}
.menu-trigger {
  float: right;
  transform: translateY(20px);
  right: 45px;
  transition: $base-transition;
}
.bottom-navlinks {
  position: absolute;
  bottom: 26px;
}
.bottom-navlinks-small {
  position: relative;
  bottom: 26px;
  margin-top: 75px !important;
}
