.partners {
  h5 {
    margin-top: 30px;
  }
  .list-inline {
    margin-bottom: 65px;
    li {
      margin: 40px 20px;
    }
  }
  img {
    transition: $base-transition;
    &:not(.sponsorship) {
      filter: grayscale(1);
      &:hover {
        filter: grayscale(0);
      }
    }
  }
}
