.top-section {
  position: relative;
  min-height: 400px;
  padding-top: 0;
  background: $primary-color;
  @media (max-width: 767px) {
    min-height: 200px;
    padding: 0;
  }
  .gradient-overlay {
    opacity: 0;
  }
  &.enable-overlay .gradient-overlay {
    opacity: 1;
  }
  ul.top-section-links {
    list-style: none;
    padding: 0;
    & > li {
      display: inline-block;
      &:not(:last-child)::after {
        color: $primary-color;
        content: '-';
        margin: 0 5px;
      }
    }
  }
}
.jumbotron {
  position: relative;
  left: 26px;
  margin: 200px 0 0 0;
  color: #fff;
  background: 0;
  @media (max-width: 767px) {
    left: 13px;
    margin-top: 100px;
    padding-left: 0;
    padding-bottom: 5px;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 0;
  }
}
