
{{ define "main" }}
<main class="content-page container pt-7 pb-5">
    <div class="row">
        <div class="col">
            <article>
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="mb-3">{{ .Title }}</h2>
                        <div class="content">
                          To appear here, take a look at our <a target="_blank" href="callforsponsorsopportunities.html"> Sponsorship Opportunities</a>.
                          <h3>Diamond</h3>
                          <div class="sponsor-box">
                            {{ range $.Site.Data.sponsor }}
                            {{ if eq .Level "Diamond"}}
                                 {{ partial "sponsor.html" .}}
                            {{ end }}
                            {{ end }}
                            </div>
                            <h3>Platinum</h3>
                            <div class="sponsor-box">
                            {{ range $.Site.Data.sponsor }}
                            {{ if eq .Level "Platinum"}}
                                 {{ partial "sponsor.html" .}}
                            {{ end }}
                            
                            {{ end }}
                            </div>
                            <h3>Gold</h3>
                            <div class="sponsor-box">
                            {{ range $.Site.Data.sponsor }}
                            {{ if eq .Level "Gold"}}
                                 {{ partial "sponsor.html" .}}
                            {{ end }}
                            {{ end }}
                            </div>
                            <h3>Silver</h3>
                            <div class="sponsor-box">
                            {{ range $.Site.Data.sponsor }}
                            {{ if eq .Level "Silver"}}
                                 {{ partial "sponsor.html" .}}
                            {{ end }}
                            {{ end }}
                            </div>
                            <h3>Bronze</h3>
                            <div class="sponsor-box">
                            {{ range $.Site.Data.sponsor }}
                            {{ if eq .Level "Bronze"}}
                                 {{ partial "sponsor.html" .}}
                            {{ end }}
                            {{ end }}
                            </div>
                            <h3>Supporter</h3>
                            <div class="sponsor-box">
                            {{ range $.Site.Data.sponsor }}
                            {{ if eq .Level "Supporter"}}
                                 {{ partial "sponsor.html" .}}
                            {{ end }}
                            {{ end }}
                          </div>
                            <h3>Partner</h3>
                            <div class="sponsor-box">
                            {{ range $.Site.Data.sponsor }}
                            {{ if eq .Level "Partner"}}
                                 {{ partial "sponsor.html" .}}
                            {{ end }}
                            {{ end }}
                          </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</main>
{{ end }}
