{{ if .Site.Params.hero.enable }}
    {{"<!-- Hero Area Section -->" | safeHTML}}
    <div id="{{ i18n "home" | urlize }}" class="hero-area" style='background-image: url("{{ with .Site.Params.hero.bg }} {{ . }}{{ end }}");'>
        <div class="container">
					<div class="row">
                {{ if not .Site.Params.hero.disableCountdown }}
								<div class="col-12">
                    <div class="block">
                        <div class="counter text-center py-lg-4">
                            <ul id="countdown_dashboard" data-year="{{ with .Site.Params.hero.countdownYear }} {{ . }}{{ end }}" data-month="{{ with .Site.Params.hero.countdownMonth }} {{ . }}{{ end }}" data-day="{{ with .Site.Params.hero.countdownDay }} {{ . }}{{ end }}">
																<li>
                                    <div class="dash days_dash rounded">
                                        <div id="countdowndays" class="digit">000</div>
                                        <span class="dash_title">days</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="dash hours_dash rounded">
                                        <div id="countdownhours" class="digit">00</div>
                                        <span class="dash_title">hours</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="dash minutes_dash rounded">
                                        <div id="countdownminutes" class="digit">00</div>
                                        <span class="dash_title">minutes</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="dash seconds_dash rounded">
                                        <div id="countdownseconds" class="digit">00</div>
                                        <span class="dash_title">seconds</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
            <!-- .row close -->
        </div>
        <!-- .container close -->
    </div>
{{ end }}
