<div class="keynoter">
  <a href="{{ .Link }}" target="_blank" title="{{ .Name }}">
    
    <div class="keynote-background" style="background-image: url(/images/keynote/{{ .Photo }});">
    </div>
  
    <div class="hover-me" style="width:20vw;height:20vw;position:relative">
      <p class="hover-content keynoter-description">{{ .Short}}</p>
      <h2 style="bottom:1.3em;position:absolute;width:100%;text-align:center">
        <a class="keynoter-name" href="{{ .Link }}" target="_blank" title="{{ .Name }}">
        {{ .Name }}
        </a>
      </h2>
      <ul style="bottom:0;position:absolute">  
        {{ if not (eq .Web nil) }}
        <li class="list-inline-item">
          <a href="{{ .Web }}" target="_blank" class="icons d-block">
              <span class="fa-stack fa-lg">
                  <i class="icon-circle fa-stack-2x"></i>
                  <i class="icon-rss fa-stack-1x fa-inverse"></i>
              </span>
          </a>
        </li>
        {{end}}
        {{ if not (eq .Twitter nil) }}
        <li class="list-inline-item">
          <a href="https://twitter.com/{{ .Twitter }}" target="_blank" class="icons d-block">
              <span class="fa-stack fa-lg">
                  <i class="icon-circle fa-stack-2x"></i>
                  <i class="icon-twitter fa-stack-1x fa-inverse"></i>
              </span>
          </a>
        </li>
        {{end}}
        {{ if not (eq .LinkedIn nil) }}
        <li class="list-inline-item">
          <a href="{{ .LinkedIn }}" target="_blank" class="icons d-block">
              <span class="fa-stack fa-lg">
                  <i class="icon-circle fa-stack-2x"></i>
                  <i class="icon-linkedin fa-stack-1x fa-inverse"></i>
              </span>
          </a>
        </li>
        {{end}}
      </ul>
    </div>
  </a>
</div>
