{{ define "main" }}
<main class="homepage container-fluid">
  <section class="row main-header obscured">
    <div class="container">
      <div class="row">
        <div class="mt-3 col-10 col-sm-8">
          <img
            src="/images/logo_horizontal_b.svg"
            alt="main-logo"
            class="mb-3"
            loading="lazy"
          />
        </div>
      </div>

      <div class="row">
        <div class="mt-2 col-12">
          {{- with .Site.Params.description -}}
          <h1 class="font-weight-bold text-center" style="color:white">{{ . | safeHTML }}</h1>
          <h2 class="font-weight-bold text-center" style="color:white">Virtual Conference ONLINE</h2>
          {{- end -}}
          {{- with .Site.Params.dates -}}
          <h3 class="font-weight-bold text-center mb-5" style="color:white">{{ . | safeHTML }}</h3>
          {{- end -}}
        </div>
      </div>
      
      <div class="row">
        <div class="col d-flex justify-content-center">
          <a style="text-decoration:none" href="#">
            <button type="button" name="button" class="btn btn-light rounded-pill px-3 py-2 mb-5">
            Buy your tickets
            </button>
          </a>
        </div>
        <div class="col d-flex justify-content-center">
          <a style="text-decoration:none" href="sponsor/callforsponsorsopportunities.html">
            <button type="button" name="button" class="btn btn-light rounded-pill px-5 py-2 mb-5">
            Sponsor the event
            </button>
          </a>
        </div>
        <div class="col d-flex justify-content-center">
          <a style="text-decoration:none" href="schedule/outline.html">
            <button type="button" name="button" class="btn btn-light rounded-pill px-3 py-2 mb-5">
            See the Schedule
            </button>
          </a>
        </div>
      </div>
    </div>
  </section>
  
  
{{$partners := newScratch}}
{{ $partners.Set "partner" false }}
{{ range .Site.Data.sponsor }}
	{{ if eq .Level "Partner"}}
  	{{ $partners.Set "partner" true }}
  {{ end }}
	{{ if eq .Level "GoldPartner"}}
  	{{ $partners.Set "partner" true }}
  {{ end }}
{{end}}

{{ if $partners.Get "partner"}}
	<section class="row sponsors">
    <div class="container-fluid px-5">
      <div class="row mb-4">
        <h2 class="w-100 text-center">
          PARTNERS
        </h2>
      </div>
      
      <div class="row text-center mb-5">
        {{ range .Site.Data.sponsor }}
				  {{ if eq .Level "Partner"}}
          	{{ partial "sponsor.html" .}}
          {{ end }}
				  {{ if eq .Level "GoldPartner"}}
          	{{ partial "sponsor.html" .}}
          {{ end }}
        {{ end }}
      </div>
    </div>
  </section>
{{end}}
	<section class="row sponsors">
    <div class="container-fluid px-5">
      <div class="row mb-4">
        <h2 class="w-100 text-center">
          SPONSORS
        </h2>
      </div>

      <div class="row mb-2">
        <h3 class="col text-center font-weight-normal">
          Diamond
        </h3>
      </div>
      <div class="row text-center mb-5">
        {{ range .Site.Data.sponsor }}
				{{ if eq .Level "Diamond"}}
        	{{ partial "sponsor.html" .}}
        {{ end }}
        {{ end }}
      </div> 

      <div class="row mb-2">
        <h3 class="col text-center font-weight-normal">
          Platinum
        </h3>
      </div>
      <div class="row text-center mb-5">
        {{ range .Site.Data.sponsor }}
				{{ if eq .Level "Platinum"}}
        	{{ partial "sponsor.html" .}}
        {{ end }}
        {{ end }}
      </div>

      <div class="row mb-2">
        <h3 class="col text-center font-weight-normal">
          Gold
        </h3>
      </div>
      <div class="row text-center mb-5">
        {{ range .Site.Data.sponsor }}
				{{ if eq .Level "Gold"}}
        	{{ partial "sponsor.html" .}}
        {{ end }}
        {{ end }}
      </div>

      <div class="row mb-2">
        <h3 class="col text-center font-weight-normal">
          Silver
        </h3>
      </div>
      <div class="row text-center mb-5">
        {{ range .Site.Data.sponsor }}
				{{ if eq .Level "Silver"}}
        	{{ partial "sponsor.html" .}}
        {{ end }}
        {{ end }}
      </div>
    </div>
  </section>
</main>
{{ end }}
