{{ $data := index site.Data site.Language.Lang }}
{{ $pricing := $data.pricing }}
<section id="pricing" class="py-5">
  <div class="container text-center">
    <div class="row justify-content-md-center">
      <div class="col-12 col-lg-4 col-md-6 col-sm-12 mb-4">
         <a href="{{ $pricing.button.href | absURL }}" target="_blank" class="btn btn-primary {{ if not $pricing.button.enabled }} disabled {{ end }}">{{ $pricing.button.text }}</a>
       </div>
    </div>
  </div>
  <div class="container text-center">
    <div class="row justify-content-md-center">
      {{ range where $pricing.content ".featured" true }}
      <div class="col-12 col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="pricing shadow">
          <div class="header bg-light p- text-dark">
            <h5 class="h5">{{ .title }}</h5>
            <span class="price my-3">{{ .price }}</span>
            <div class="features text-left">
              <ul class="fa-ul">
              {{ range .features }}
                <li><i class="fa-li fa fa-check"></i>{{ . }}</li>
              {{ end }}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <div class="container text-center">
    <div class="row justify-content-md-center">
      {{ end }}
      {{ range where $pricing.content ".featured" nil }}
      <div class="col-12 col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="pricing shadow">
          <div class="header bg-light p-3 text-dark">
            <h5 class="h5">{{ .title }}</h5>
            <span class="price my-3">{{ .price }}</span>
            <div class="features text-left">
              <ul class="fa-ul">
              {{ range .features }}
                <li><i class="fa-li fa fa-check"></i>{{ . }}</li>
              {{ end }}
              </ul>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
  <div class="container text-center">
    <div class="row justify-content-md-center">
      <div class="col-12 col-lg-4 col-md-6 col-sm-12 mb-4">
         <a href="{{ $pricing.button.href | absURL }}" target="_blank" class="btn btn-primary {{ if not $pricing.button.enabled }} disabled {{ end }}">{{ $pricing.button.text }}</a>
       </div>
    </div>
  </div>
</section>

<style type="text/css">
  #pricing {
    /* background: linear-gradient(165deg, #ffffff 0%,#ffffff 45%,#fc5f3c 45%,#ff55d3 90%, #ffffff 90%, #ffffff 100%); */
  }
</style>
