{{ define "main" }}
<main class="content-page container pt-7 pb-5">
  <div class="row">
    <div class="col">
      <article>
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <h2 class="mb-3">{{ .Title }}</h2>

            <div class="content">
              {{ partial "cfp_acad.html" . }}
              {{ partial "conf_chair.html" . }}
              {{ partial "loc_vol.html" . }}
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</main>
{{ end }}
